html,
body {
    font-size: 20px;
    font-family: 'Russo One', serif;
    margin: 0;
    font-weight: lighter;
    background-image: url(photos/791225.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    letter-spacing: 0.1em;
}

header {
    background-image: url("photos/bg.jpg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
    background-color: #E68325;
    padding: 10px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

h1 {
    font-weight: bolder;
    font-size: 80px;
    color: #FFCF2E;
}

h2 {
    font-weight: bolder;
    font-size: 32.36px;
    text-align: center;
    color: #6D8CCA;
}

p {
    font-weight: bold;
    font-family: 'Courier New', Courier, serif;
    text-align: center;
    color: #6A6A6A;
}

li {
    font-family: 'Russo One', serif;
    color: #6A6A6A;
}

header img {
    border-radius: 174px;
    width: 300px;
    border: 24px solid #6D8CCA;
}

hr.solid {
    margin-top: auto;
    margin-bottom: auto;
    border-top: 20px solid #1959A6;
    border-bottom: 1px;
}

.content {
    border-left: #6D8CCA;
    border-right: #6D8CCA;
    border-style: none solid none solid;
    border-radius: 0px;
    margin-top: auto;
    margin-bottom: -20px;
    background-color: white;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0px;
}

img.big-image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

p.cap3on {
    font-size: 16px;
    color: lightgrey;
    font-style: italic;
    text-align: center;
}

ul {
    list-style-type: disc;
    padding: 5;
    margin: 0;
}

li {
    margin: auto;
    font-weight: bold;
    font-family: 'Courier New', Courier, serif;
}

hr.solid2 {
    margin-top: -10px;
    margin-bottom: auto;
    border-top: 20px solid #1959A6;
    border-bottom: 1px;
    float: auto;
}

footer {
    margin-top: auto;
    padding: 10px 100px;
    background-color: #E68325;
}

footer ul {
    text-align: center;
    color: white;
}

footer ul li {
    display: inline-block;
    margin: 0 5px;
}

.social {
    margin: 20px 20px;
}

.social i {
    color: white;
    font-size: 30px;
    padding: 0px 10px;
}

.social i:hover {
    color: #6D8CCA;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    color: white;
    text-align: center;
    margin-bottom: 1;
}

.card {
    height: 300px;
    flex: 1 1 20px;
    padding-bottom: 100px;
    margin: 10px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    background-image: url(image/bg.gif);
}

.card img {
    height: 80%;
    width: 54%;
    object-fit: contain;
    transition: 1s ease;
}

.card:hover {
    flex: 1.3 1 2px;
    transform: scale(1.0);
    transition: 1s ease;
}

a {
    font-family: 'Russo One', monospace;
    font-weight: lighter;
    color: #6D8CCA;
    text-decoration: none;
}

a:hover {
    color: #2b52a0;
}